@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

/* Styling */

#main {
  background: url(images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  color: white;
  font-size: 1.3rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  cursor: pointer;
  padding: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  padding-bottom: 2px;
  border-bottom: 1.5px solid white;
}

#navigate {
  position: absolute;
  padding: 10px 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: white;
}

#showprojects {
  background: black;
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
  border: 1.5px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#showprojects:hover {
  background: white;
  color: black;
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
  border: 1.5px solid black;
}

/* Projekte */

#Projects {
  height: 50vh;
  text-align: center;
}

#Projects h1 {
  color: black;
  padding: 50px;
}

.content {
  min-height: 500px;
  display: flex;
  justify-content: space-around;
}

.content .project {
  flex: 1;
  text-align: center;
  position: relative;
}

.img_wrapper img {
  width: 100%;
  height: 400px;
}

.contentwrapper {
  position: absolute;
  padding: 50px 50px;
  top: 0;
  left: 0;
  height: 400px;
  width: 100%;
  background: #00370d;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.contentwrapper:hover {
  opacity: 1;
}
